site_name: DynamicTelemetry
site_description: 'DynamicTelemetry PoC Request for Collaboration'

# Info : https://squidfunk.github.io/mkdocs-material/

theme:
    name: material
    custom_dir: overrides
    features:
        - navigation.top
        - announce.dismiss
        - content.action.edit
        - content.action.view
        - content.code.annotate
        - content.code.copy
        # - content.code.select
        # - content.tabs.link
        - content.tooltips
        # - header.autohide
        # - navigation.expand
        - navigation.footer
        - navigation.indexes
        # - navigation.instant
        # - navigation.instant.prefetch
        # - navigation.instant.progress
        # - navigation.prune
        # - navigation.sections
        - navigation.tabs
        # - navigation.tabs.sticky
        - navigation.top
        - navigation.tracking
        - search.highlight
        - search.share
        - search.suggest
        - toc.follow
        # - toc.integrate

    palette:
        - media: "(prefers-color-scheme)"
          toggle:
            icon: material/link
            name: Switch to light mode
        - media: "(prefers-color-scheme: light)"
          scheme: default
          primary: indigo
          accent: indigo
          toggle:
            icon: material/toggle-switch
            name: Switch to dark mode
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          primary: black
          accent: indigo
          toggle:
              icon: material/toggle-switch-off
              name: Switch to system preference
    font:
        text: Roboto
        code: Roboto Mono
    favicon: assets/favicon.png
    icon:
        logo: logo


nav:
#<START_BINDING>
    - What is Dynamic Telemetry:
        - Introduction : ./docs/index.md

        - Performance and Diagnostics: ./docs/Scenarios.Overview.DeepDiagnostics.document.md
            #- Tools:
            #    - Event Aggregation: ./docs/Scenarios.EventAggregation.document.md
            #    - ExtractingMemoryWithUProbe: ./docs/Scenarios.ExtractingMemoryWithUProbe.document.md
            #- The Process: ./docs/PlaceHolder.document.md
            #- Architecture: ./docs/PlaceHolder.document.md
            #- Position Papers: ./docs/PlaceHolder.document.md

        - Privacy and Security: ./docs/Scenarios.Overview.RedactingSecrets.document.md
            #- Tools:
            #    - EventFieldSuppression: ./docs/Scenarios.EventFieldSuppression.document.md
            #    - EventSuppression: ./docs/Scenarios.EventSuppression.document.md

        - Reliability and Testing: ./docs/Scenarios.Overview.Reliability.document.md
            #- Tools: ./docs/PlaceHolder.document.md
            #- Architecture: ./docs/PlaceHolder.document.md
            #- Position Papers: ./docs/PlaceHolder.document.md

        - Dashboards, Alerts, and Environment Migrations: ./docs/Scenarios.Overview.DurableDashboards.Alerts.document.md
            #- Tools:
            #    - Changing Environments: ./docs/Scenarios.ChangingEnvironments.document.md
            #- Architecture: ./docs/PlaceHolder.document.md
            #- Position Papers: ./docs/PlaceHolder.document.md

        - Cost Reduction: ./docs/Scenarios.Overview.CostReduction.document.md
            #- Tools:
            #    - Convert Logs to Metrics: ./docs/Scenarios.ConvertLogsToMetrics.document.md
            #- Architecture: ./docs/PlaceHolder.document.md
            #- Position Papers: ./docs/PlaceHolder.document.md

    - Architecture:
        - Overview: ./docs/Architecture.Overview.document.md

        - Software Components:
            - Overview: ./docs/Architecture.KeyConstructs.Overview.document.md
            - Probes:
                - Probe Overview: ./docs/Architecture.Probes.Overview.document.md
                - Sample Probes:
                    - Dynamic Probes:
                        - Breakpoint: ./docs/Architecture.Probe.Breakpoint.document.md
                        - Linux:
                            - ptrace: ./docs/Architecture.Probe.ptrace.document.md
                            - uprobes: ./docs/Architecture.Probe.uprobes.document.md
                            - DTrace: ./docs/Architecture.Probe.DTrace.document.md
                    - Language Probes:
                        - eBPF: ./docs/Architecture.Probe.eBPF.document.md
                    - Logging Probes:
                        - OpenTelemetry: ./docs/Architecture.Probe.OpenTelemetry.document.md
                        - Linux:
                            - user_events: ./docs/Architecture.Probe.user_events.document.md
                        - Windows:
                            - ETW: ./docs/Architecture.Probe.ETW.document.md
            - Flight Recorders:
                - Flight Recorder Overview: ./docs/Architecture.FlightRecorder.Overview.document.md
                - Data Types:
                        - Streaming: ./docs/Architecture.Components.Streaming.Observability.document.md
                        - File Based: ./docs/Architecture.Components.FileBased.Observability.document.md
                - Trace Horizons:
                    - Overview: ./docs/Architecture.FlightRecorder.TraceHorizons.document.md
                    - Sample Horizons:
                        - Short Horizons: ./docs/Architecture.FlightRecorder.ShortHorizons.document.md
                        - Cubby Hole: ./docs/Architecture.FlightRecorder.CubbyHole.document.md
                        - Long Horizons: ./docs/Architecture.FlightRecorder.LongHorizons.document.md
            - Filters and Routers:
                - Filters / Routers Overview: ./docs/Architecture.Components.FiltersAndRouters.document.md

            - Processors :
                - Processors Overview: ./docs/Architecture.Components.Processor.Overview.document.md
                - Processor Types:
                    - Query Language : ./docs/Architecture.Components.Processor.QueryLanguage.document.md
                    - StateMachine : ./docs/Architecture.Components.Processor.StateMachine.document.md
                    - Language : ./docs/Architecture.Components.Processor.Language.md

                - Processor Installation Locations:
                    - Overview: ./docs/Architecture.Components.ProcessorInstallation.Overview.document.md
                    - Installation Locations:
                        - Internal Observer: ./docs/Architecture.Components.Observer.InProcess.document.md
                        - Kernel Observer: ./docs/Architecture.Components.Observer.Kernel.document.md
                        - External, on-box Observer: ./docs/Architecture.Components.Observer.External.OnBox.document.md
                        - External, off-box Observer: ./docs/Architecture.Components.Observer.External.OffBox.document.md

            - Actions:
                - Action Overview: ./docs/Architecture.Action.Explanation.document.md
                - Sample Actions:
                    - PacketCapture: ./docs/Architecture.Action.PacketCapture.document.md
                    - ConfigCollection: ./docs/Architecture.Action.ConfigCollection.document.md
                    - CPUSample: ./docs/Architecture.Action.CPUSample.document.md
                    - FileCollection: ./docs/Architecture.Action.FileCollection.document.md
                    - FlightRecorder: ./docs/Architecture.Action.FlightRecorder.document.md
                    - MemoryDump: ./docs/Architecture.Action.MemoryDump.document.md
                    - ProcessExecution: ./docs/Architecture.Action.ProcessExecution.document.md
                    - StateCollection: ./docs/Architecture.Action.StateCollection.document.md
                    - Verbose Logs: ./docs/Architecture.Action.VerboseLogs.document.md

    - Appendix:
        - Overview: ./docs/PositionPaper.PositionPapers.Overview.document.md
        - Definitions: ./docs/Definitions.document.md
        - Position Papers:
            - Inspirations:
                - GuideToLogVerbosity: ./docs/PositionPaper.GuideToLogVerbosity.document.md
                - ObserverEffect: ./docs/PositionPaper.ObserverEffect.document.md
                - Defining Production: ./docs/PositionPaper.DefiningProduction.document.md
                - Probe to Header : ./docs/PositionPaper.ProbeToHeader.document.md
                - Convert Logs to Metrics: ./docs/PositionPaper.ConvertLogsToMetrics.document.md
                - A/B Testing: ./docs/PositionPaper.ABTestingWithRichDiagnostics.document.md
                - Impacts of Scarcity: ./docs/PositionPaper.ScarcityAndHumans.md
                - Borrowing from RTOS : ./docs/PositionPaper.ThinkLike.RTOS.document.md
                - Self Describing Production Code : ./docs/PositionPaper.SelfDescribingProductionCode.document.md
                - Loose Schemas: ./docs/PositionPaper.SharingDataAmongStakeHoldersIsHard.document.md

            - Implementation:
                - Actions: ./docs/PositionPaper.Actions.document.md
                - ConfigurationDeployment: ./docs/PositionPaper.ConfigurationDeployment.document.md
                - ProbeRiskLevels: ./docs/PositionPaper.ProbeRiskLevels.document.md

            - Architectural Pillars:
                - DurableIds_StructuredPayloads: ./docs/PositionPaper.DurableIds_StructuredPayloads.document.md
                - FileAndStreaming: ./docs/PositionPaper.FileAndStreaming.document.md
                - FlightRecorder: ./docs/PositionPaper.FlightRecorder.document.md
                - TelemetryUmbilical: ./docs/PositionPaper.TelemetryUmbilical.document.md
                - Delivery Guarantees: ./docs/PositionPaper.DeliveryGuarantees.document.md
                - DynamicallyToggleLogs: ./docs/PositionPaper.DynamicallyToggleLogs.document.md
                - Triggered Collections: ./docs/PositionPaper.TriggeredCollections.document.md

            - Testing and Quality:
                - Testing With Entropy: ./docs/PositionPaper.TestingWithEntropy.document.md
                - Clearly defined failures: ./docs/PositionPaper.ClearFailuresViaSchema.document.md
                - Traditional Testing: ./docs/PositionPaper.TraditionalTesting.md
                - Procedural Nets: ./docs/PositionPaper.ProceduralizeNets.document.md
                - Auditing Production Code : ./docs/PositionPaper.AuditingProductionCode.document.md

        - Upcoming and Proposed Cuts:
            - Holding Pattern (the cut line):
                - Interesting Applications:
                    - Overview: ./docs/Applications.InterestingApplications.document.md

                - Upcoming:
                    - Ideas : ./docs/Ideas.ToExpandOn.document.md
                    - Design Patterns:
                        - Overview: ./docs/Architecture.DesignPatterns.DesignPatterns.Overview.document.md
                        - Primitives:
                            - Queues: ./docs/Architecture.DesignPatterns.Queues.document.md
                            - Counters: ./docs/Architecture.DesignPatterns.Counters.document.md
                            - Valves: ./docs/Architecture.DesignPatterns.Valves.document.md
                            - Toggles: ./docs/Architecture.DesignPatterns.Toggles.document.md
                            - Triggers: ./docs/Architecture.DesignPatterns.Triggers.document.md
                - Proposed Cuts:
                    - Personas:
                        - Overview: ./docs/Personas.Overview.document.md
                        - Data Analyst: ./docs/Persona_DataAnalysis.document.md
                        - DevOps: ./docs/Persona_DevOps.document.md
                        - Developer : ./docs/Persona_Developer.document.md
                        - Project Manager: ./docs/Persona_ProjectManager.document.md

                - Demos and Presentations:
                    - Video Demos:
                        - Adding a Memory Probe: ./docs/Demos.4.AddTelemetryDemo.md
                        - Drop a Chatty Event : ./docs/Demos.1.DropChattyLog.md
                    - Written Demos:
                        - Understanding Durable ID : ./docs/Demos.0.DynamicID.md
                        - Dynamic Probes: ./docs/Demos.2_DynamicProbe.md
                        - HighLevel / Overview : ./docs/Demos.HighLevel.Overview.md
                    - Slides / Presentations:
                        - Overview: ./docs/Slides.Overview.Presentation.md
                - Development / Spec Process:
                    - Using Doc Editing Container : ./docs/README.EDITING.CONTAINER.md
                    - Rude Q&A : ./docs/Rude_Q_and_A.md
                    - Document Review :
                        - Process : ./docs/ReviewProcess.document.md
                        - Status : ./orig_media/GeneratedFileStatus.md

    - HowTo:
        - Using this Documentation: ./docs/HowTo.UseThisDocumentation.document.md

#<END_BINDING>


hooks:
    - main/CDocs.hooks.py

plugins:
    - search
    - mermaid2
    - macros #https://mkdocs-macros-plugin.readthedocs.io/en/latest/
    - redirects:
        redirect_maps:
            'index.md' : "docs/index.md"

    - include-markdown:
        encoding: ascii
        preserve_includer_indent: false
        dedent: false
        trailing_newlines: true
        comments: true
        rewrite_relative_urls: true
        heading_offset: 0
        recursive: true

    - mkdocs-video:
        is_video: True
        video_muted: True
        video_controls: True


markdown_extensions:
  - attr_list
  - footnotes
  - md_in_html
  - admonition
  - pymdownx.details

  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets


  - pymdownx.superfences:
        # make exceptions to highlighting of code:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom

  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.blocks.details:
      types:
      - name: details-new
        class: new
      - name: details-settings
        class: settings
      - name: details-note
        class: note
      - name: details-abstract
        class: abstract
      - name: details-info
        class: info
      - name: details-tip
        class: tip
  - pymdownx.blocks.admonition:
      types:
      - new
      - settings
      - note
      - abstract
      - info
      - tip
      - success
      - question
      - warning
      - failure
      - danger
      - bug
      - example
      - quote

copyright: >
  <a href="#__consent">Change cookie / analytics settings</a>

extra:
  generator: false



  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

    cookies:
      analytics:
        name: Viewing Analytics
        value: Testing1234
        checked: true


  analytics:
    provider: custom
    actions:
      - accept
      - reject
      - manage



extra_css:
    - extra.css

extra_javascript:
  - javascripts/consent.js
