@page
@model IndexModel

<!-- Copyright (c) Microsoft Corporation.
 Licensed under the MIT License. -->

<html lang="en">
    <body>
        Hello World - Durable ID Contrast Example
    </body>
</html>